/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.6;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('../images/bg.jpg'); /* Background image for the body */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the background */
    background-color: #f0f0f0; /* Fallback background color */
    font-weight: 100;
}

h1 {
    font-size: 4rem;
    color: #f03801;
}

h2 {
    padding-left: 10px;
    font-size: 2rem;
    border-left: 5px solid #f03801; /* Change the color and thickness of the underline */
    display: inline; /* Ensures the underline only affects the text */
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-inline-start: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    font-size: 16px;
}

section {       /* Add spacing to the sections to avoid hiding content behind the navbar */
    padding: 50px 200px; /* Adjust padding for sections below the header */
    color: white; /* Text color for sections */
    margin: 20px; /* Margin for sections */
}

.section-title {
    opacity: 0; /* Start with the item invisible */
    transform: translateX(-50px); /* Start position for the slide-in effect */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition for opacity and transform */
    text-align: left;
    margin-bottom: 40px; /* Space below the title */
}

.section-title.visible {
    opacity: 1; /* Make the item visible */
    transform: translateX(0); /* Move to its original position */
}

/* NAVBAR */
body.scrolled #navbar {         /* Optional: Change background color on scroll */
    background-color: #121212; 
    border-bottom: 1px solid #f03801; /* Add a color outline at the bottom */
}

#navbar {
    display: flex;
    justify-content: space-between; /* Space between left, center, and right */
    align-items: center; /* Vertically center the items */
    padding: 10px 0;
    background-color: transparent; /* Transparent background */
    position: fixed;
    width: 100%;   
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-toggle {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer; /* Change cursor to pointer */
}

.bar {
    width: 25px; /* Width of the bars */
    height: 3px; /* Height of the bars */
    background-color: #f03801; /* Color of the bars */
    margin: 3px 0; /* Spacing between bars */
}

.navbar-left {
    margin-left: 20px;
    flex: 1;
    display: flex;
    align-items: center; /* Vertically align logo and name */
}

.navbar-left h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0; /* Remove default margin on h1 */
    line-height: 1; /* Ensure proper line height for alignment */
}

.navbar-logo {
    width: 30px; /* Adjust size as needed */
    height: 30px;
    margin-right: 10px; /* Spacing between logo and name */
}

.navbar-center {
    display: flex; /* Use flexbox */
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar-center ul {
    display: flex; /* Make the list items horizontal */
    list-style: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
}

.navbar-center li {
    margin: 0 20px; /* Space between menu items */
    list-style: none; /* Remove list styling */
}

.navbar-center li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar-center li a:hover {
    color: #f03801; /* Change text color on hover */
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.navbar-right a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-right a:hover {
    color: #f03801; /* Change icon color on hover */
}

nav ul li a {
    text-decoration: none;
    font-weight: 400;
    color: white;
}

nav ul li a.active {
    color: #f03801; /* Active link color */
}

/* HERO SECTION */
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #f03801; /* Outline color */
    color: #f03801;            /* Text color */
    background-color: transparent; /* No background */
    text-decoration: none;
    border-radius: 4px;     /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #f03801; /* Background on hover */
    color: #fff;            /* Text color on hover */
}

header#hero {
    height: 100vh; /* Full viewport height */
    display: flex; /* Center content */
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: white; /* Text color for visibility */
    text-align: center; /* Center text */
}

header#hero h1,
header#hero p {
    margin: 0; /* Remove default margins */
}

/* ABOUT SECTION */
#about .container p {
    opacity: 0; /* Start with the item invisible */
    transform: translateY(20px); /* Start position for the slide-in effect */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition for opacity and transform */
}

#about .container p.visible {
    opacity: 1; /* Make the item visible */
    transform: translateY(0); /* Move to its original position */
}

.about-content-details {
    width: 65%; /* First column takes 65% of the container */
    display: flex; /* Use Flexbox for layout */
    flex-direction: column; /* Stack the two containers vertically */
    flex-wrap: wrap;
}

.about-content{
    display: flex;
}

.about-content-image {
    display: inline-block; /* To ensure the image stays in its own block */
    overflow: hidden; /* Prevent any overflow from the animation */
    width: 35%; /* 35% width for the right column */
}

.about-content-image img {
    width: 100%;  /* Ensure the image takes up the full width of the container */
    height: 100%; /* Ensure the image takes up the full height of the container */
    object-fit: cover; /* Scale the image, keeping its aspect ratio and ensuring it covers the container */
}

.sticker {
    filter: url(#outline); /* Apply the outline filter */
    animation: shake 0.5s infinite;
    animation: bouncce is infinite;
}

.sticker {
    filter: url(#outline); /* Apply the outline filter */
    animation: shakeBounceRotate 1s infinite; /* Add the combined animation */
}

@keyframes shakeBounceRotate {
    0% {
        transform: translateY(0) rotate(0deg); /* Original position */
    }
    25% {
        transform: translateY(-5px) rotate(-2deg); /* Move up and rotate slightly left */
    }
    50% {
        transform: translateY(-5px) rotate(2deg); /* Move down and rotate slightly right */
    }
    75% {
        transform: translateY(-5px) rotate(-2deg); /* Move up and rotate slightly left */
    }
    100% {
        transform: translateY(0) rotate(0deg); /* Return to original position */
    }
}

.about-content-info {
    padding-top: 100px;
    display: flex; /* Use Flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping to the next line */ 
}

.about-content-interest {
    padding-top: 100px;
    display: flex; /* Use Flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping to the next line */ 
}

.about-content-info a {
    color: #f03801;
    text-decoration: none;
}

.about-content-interest a {
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center;     /* Vertically center the text */
    width: 60px;
    height: 60px;
    border: solid 1px #f03801;
    border-radius: 3px;
    color: white;
    margin: 0 5px;
    font-size: 1.8rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.about-content-interest a:hover {
    color: #f03801; /* Change icon color on hover */
}

.about-content-interest h3 {
    padding-right: 30px;
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center;     /* Vertically center the text */
}

.about-half {
    flex: 0 0 50%; /* Each column takes 50% of the width */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 0 10px; /* Optional: Add some padding to the columns */
}

.about-half ul li{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 100;
}

/* SKILL SECTION */
.chart-container {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    border: solid 1px #f03801;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 10px;
    height: 400px; /* You can adjust the height */
    overflow: hidden; /* Ensures content doesn't spill over */
}

/* Optional: Add margin to columns */
.skills-content {
    display: flex; /* Use Flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping to the next line */ 
}

/* Optional: Add background and padding to columns */
.skills-half-left {
    flex: 0 0 50%; /* Each column takes 50% of the width */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 0 10px; /* Optional: Add some padding to the columns */
}

.skills-half-right {
    flex: 0 0 50%; /* Each column takes 50% of the width */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 0 10px; /* Optional: Add some padding to the columns */
}

/* RESUME SECTION*/
.resume-title {
    opacity: 0; /* Start with the item invisible */
    transform: translateX(-50px); /* Start position for the slide-in effect */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition for opacity and transform */
    position: relative; /* Establish a positioning context for the circle */
    text-transform: uppercase;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #f03801;
}

.resume-title.visible {
    opacity: 1; /* Make the item visible */
    transform: translateX(0); /* Move to its original position */
}

.resume-content, .resume-title-content {
    padding: 0 50px;
}

.resume-item {
    opacity: 0; /* Start with the item invisible */
    transform: translateX(50px); /* Start position for the slide-in effect */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition for opacity and transform */
    position: relative; /* Establish a positioning context for the circle */
    padding-left: 40px; /* Space for the circle and line */
    margin-bottom: 20px; /* Space between items */
}

.resume-item.visible {
    opacity: 1; /* Make the item visible */
    transform: translateX(0); /* Move to its original position */
}

.resume-item ul {
    padding-left: 20px;
    margin-bottom: 16px;
}

.resume-item h4{
    line-height: 18px;
    font-size: 20px;
    justify-content: flex-start !important; /* Align items to the start (top) */
    align-items: flex-start !important; /* Align items to the left */
}

.resume-item h5{
    padding-left: 20px;
}

.resume-item::before {
    content: ''; /* Required to create the pseudo-element */
    position: absolute;
    left: 0; /* Align to the left */
    width: 16px; /* Circle diameter */
    height: 16px; /* Circle diameter */
    background-color: #f03801; /* Circle color */
    border-radius: 50%; /* Make it circular */
    top: 0; /* Position at the top of the resume item */
}

/* Pseudo-element styles for the line */
.resume-item::after {
    content: ''; /* Required to create the pseudo-element */
    position: absolute;
    left: 6.5px; /* Position line slightly to the right */
    top: 10px; /* Start the line below the circle */
    width: 2px; /* Line thickness */
    height: calc(100% + 18px); /* Full height of the resume item */
    background-color: #f03801; /* Line color */
}

.resume-item::before,
.resume-item::after {
    transition: none !important; /* Ensure no transition occurs */
}

/* Optional: Adjust the line position if needed */
.resume-item:last-child::after {
    height: calc(100% + 10px); /* Prevents extending below the last item */
}

.resume-job-desc {
    height: 50px;
    align-items: center;
    display: flex;
    padding: 5px;
}

.resume-job-desc span {
    color: #f03801;
    font-size: 12px;
    border: solid 1px #f03801;
    padding: 5px;
    margin-left: 5px;
}

#resume .container.download-pdf {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* CONTACT SECTION */
.contact-wrap {
    opacity: 0; /* Start with the item invisible */
    transform: translateY(50px); /* Start position for the slide-in effect */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition for opacity and transform */
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background after scroll */
    box-shadow: 0 4px 15px rgba(150, 150, 150, 0.5); /* Shadow effect */
}

.contact-wrap.visible {
    opacity: 1; /* Make the item visible */
    transform: translateY(0); /* Move to its original position */
}

.contact-wrap iframe {
    padding-top: 20px;
    width: 100%;
    height: 300px;
}

.contact-item {
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; /* Vertically aligns the icon with the text */
    gap: 10px; /* Add space between the icon and the text */
    padding-bottom: 20px;
}

.contact-item i {
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center;     /* Vertically center the text */
    border: solid 2px #f03801;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px; /* Adjust icon size if needed */
    color: #f03801; /* Change icon color if needed */
}

/* FOOTER */
footer {
    display: flex; /* Center content */
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: white; /* Text color for visibility */
    text-align: center; /* Center text */
}

/* Media Queries for 1280 x 800 */
@media (max-width: 1280px) {
    body {
        padding: 0; /* Remove default padding */
    }

    h1 {
        font-size: 4rem; /* Increase heading size */
    }

    h2 {
        font-size: 2rem; /* Increase subheading size */
    }

    section {
        padding: 30px; /* Increase section padding */
    }

    .navbar-left h1 {
        font-size: 1.5rem; /* Adjust navbar title size */
    }

    .navbar-center li a {
        font-size: 1.2rem; /* Adjust menu item font size */
    }

    .btn {
        padding: 10px 20px; /* Adjust button padding */
    }

    .about-content-image {
        max-width: 100%; /* Ensure responsive scaling */
    }

    .about-content-info, .about-content-interest {
        padding-top: 60px; /* Increase top padding */
    }

    .resume-content, .resume-title-content {
        padding: 0 30px; /* Increase padding for resume section */
    }

    .contact-wrap {
        padding: 30px; /* Increase padding for contact section */
    }

    footer {
        padding: 30px; /* Increase padding for footer */
    }
}

@media (max-width: 1080px) {
    body {
        padding: 0; /* Remove unnecessary padding */
    }

    h1 {
        font-size: 3rem; /* Adjust heading size for smaller screens */
    }

    h2 {
        font-size: 1.8rem; /* Adjust subheading size */
    }

    section {
        padding: 20px; /* Reduce padding for sections */
    }

    .navbar-left h1 {
        font-size: 1.3rem; /* Smaller title size in the navbar */
    }

    .navbar-center li a {
        font-size: 1rem; /* Decrease font size for menu items */
    }

    .navbar-right a {
        font-size: 1.2rem; /* Adjust icon font size for right-aligned items */
    }

    .about-content-image {
        width: 100%; /* Full width image */
        height: auto; /* Adjust height automatically */
    }

    .about-content-details {
        width: 100%; /* Full width for details section */
    }

    .about-content-info, .about-content-interest {
        padding-top: 40px; /* Reduce top padding */
    }

    .btn {
        padding: 8px 16px; /* Adjust button size for smaller screens */
    }

    .resume-content, .resume-title-content {
        padding: 0 20px; /* Smaller padding for the resume section */
    }

    .resume-item {
        padding-left: 30px; /* Adjust padding for resume items */
    }

    .contact-wrap {
        padding: 20px; /* Adjust padding for contact section */
    }

    footer {
        padding: 20px; /* Smaller padding for the footer */
    }
}

/* Media Queries for 1024 x 600 */
@media (max-width: 1024px) {
    body {
        padding: 0; /* Remove default padding */
    }

    h1 {
        font-size: 3rem; /* Decrease heading size */
    }

    h2 {
        font-size: 1.5rem; /* Decrease subheading size */
    }

    section {
        padding: 20px; /* Reduce section padding */
    }

    .navbar-left h1 {
        font-size: 1.2rem; /* Adjust navbar title size */
    }

    .navbar-center li a {
        font-size: 1rem; /* Adjust menu item font size */
    }

    .btn {
        padding: 8px 16px; /* Adjust button padding */
    }

    .about-content-image {
        width: 30%; /* Make the image full width */
    }

    .about-content-info, .about-content-interest {
        padding-top: 50px; /* Reduce top padding */
    }

    .resume-content, .resume-title-content {
        padding: 0 20px; /* Reduce padding for resume section */
    }

    .contact-wrap {
        padding: 20px; /* Reduce padding for contact section */
    }

    footer {
        padding: 20px; /* Reduce padding for footer */
    }
}

/* Media Queries for 853 x 1280 */
@media (max-width: 853px) {
    body {
        padding: 0; /* Remove default padding */
    }

    h1 {
        font-size: 2.5rem; /* Adjust heading size */
    }

    h2 {
        font-size: 1.8rem; /* Adjust subheading size */
    }

    section {
        padding: 20px; /* Adjust section padding */
    }

    .navbar-left h1 {
        font-size: 1.2rem; /* Adjust navbar title size */
    }

    .navbar-center li a {
        font-size: 1rem; /* Adjust menu item font size */
    }

    .btn {
        padding: 8px 15px; /* Adjust button padding */
    }

    .about-half {
        flex: 0 0 100%;
    }

    .about-content-image {
        width: 100%; /* Full width for images */
        height: auto; /* Maintain aspect ratio */
    }

    .about-content-interest a {
        width: 50px;
        height: 50px;
        padding: 5px;
        margin-top: 5px;
    }

    .about-content-info, .about-content-interest {
        padding-top: 30px; /* Adjust top padding */
    }

    .resume-content, .resume-title-content {
        padding: 0 15px; /* Adjust padding for resume section */
    }

    .contact-wrap {
        padding: 15px; /* Adjust padding for contact section */
    }

    footer {
        padding: 15px; /* Adjust padding for footer */
    }
}


/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    body {
        padding: 0; /* Remove default padding */
    }

    h1 {
        font-size: 2.5rem; /* Smaller h1 font size */
    }

    h2 {
        font-size: 1.5rem; /* Smaller h2 font size */
    }

    section {
        padding: 50px 20px; /* Adjust padding for sections */
    }

    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align to the start */
    }

    .navbar-left h1 {
        font-size: 1.2rem; /* Smaller logo text */
    }

    .navbar-center,
    .navbar-right {
        margin-top: 80px;
        display: none; /* Hide navbar items */
        flex-direction: column; /* Stack items vertically */
        width: 100%; /* Full width for dropdown */
        position: absolute; /* Position it absolutely */
    }

    .navbar-center.show {
        margin-top: 80px;
    }

    .navbar-center.show, 
    .navbar-right.show{
        display: flex;
        flex-direction: row; /* Stack items horizontally */        
        justify-content: center;
        position:absolute; /* Position it absolutely */
        background-color: rgba(51, 51, 51, 0.1); /* Semi-transparent background */
        backdrop-filter: blur(7px);
    }

    .navbar-right.show {
        margin-top: 137px;
        float: right;
    }

    .navbar-toggle {
        display: flex; /* Show toggle button */
        background: transparent; /* No background */
        border: none; /* No border */
        color: white; /* Toggle button color */
        cursor: pointer; /* Pointer cursor */
        font-size: 1.5rem; /* Size of the toggle button */
        padding-right: 20px;
    }

    .navbar-center li {
        margin: 0 10px; /* Less space between menu items */
    }

    .navbar-center li a {
        font-size: 1rem; /* Smaller menu item font size */
    }

    .btn {
        padding: 8px 16px; /* Smaller button padding */
        font-size: 1rem; /* Smaller button font size */
    }

    header#hero {
        height: 60vh; /* Reduced height for mobile */
    }

    .about-content {
        flex-direction: column; /* Stack columns vertically */
    }
    
    .about-content-info {
        flex-direction: column ;
        flex-wrap: wrap ;
        width: 100%;
    }

    .about-content-image {
        width: 100%; /* Full width for the image on mobile */
    }

    .about-content-details {
        width: 100%; /* Full width for text details */
    }

    .about-content-interest h3 {
        padding-right: 10px;
    }

    .about-content-interest a {
        width: 50px;
        height: 50px;
        padding: 5px;
        margin-top: 5px;
    }

    .skills-half-left,
    .skills-half-right {
        flex: 0 0 100%; /* Full width for skills columns */
    }

    .resume-title-content,
    .resume-content {
        padding: 0; /* Reduce padding for resume sections */
    }
    
    .resume-job-desc {
        height: auto;
        align-items: center;
        padding: 5px;
        flex-wrap: wrap;
    }

    .resume-job-desc span {
        margin-top: 5px;
    }

    .resume-item {
        padding-left: 20px; /* Space for the circle and line */
    }

    .contact-item {
        flex-direction: row; /* Stack contact items horizontally */
        align-items: center; /* Align text to center */
    }

    .contact-item i {
        width: 40px; /* Adjust icon size */
        height: 40px; /* Adjust icon size */
        font-size: 20px; /* Adjust icon size */
    }

    /* Adjust footer for mobile */
    footer {
        padding: 20px 10px; /* Add padding for footer */
    }
}

@media (min-width: 769px) {
    .navbar-toggle {
        display: none; /* Hide toggle button on desktop */
    }
}

/* Additional Media Queries for smaller devices */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem; /* Further decrease h1 font size */
    }

    h2 {
        font-size: 1.2rem; /* Further decrease h2 font size */
    }

    .btn {
        padding: 6px 12px; /* Smaller button padding for extra small screens */
        font-size: 0.9rem; /* Smaller button font size */
    }

    .navbar-left h1 {
        font-size: 1.2rem; /* Smaller logo font size */
    }

    .navbar-center li a {
        font-size: 0.9rem; /* Smaller menu item font size */
    }
}
